.bg-light-marsh {
  background-color: #d2b8a4;
}

.bg-light-brown {
  background-color: #e4e3e0;
}

.bg-khaki {
  background-color: #b2aea4;
}

.bg-light-blue {
  background-color: #dde9f1;
}

.bg-blue {
  background-color: #c7d5df;
}

.bg-dark-blue {
  background-color: #b6c4ce;
}
